* {
  box-sizing: border-box;
}

.article__Container {
  width: 478px;
}

.article__Header {
  margin-top: 12%;
  background-color: rgb(81, 145, 81);
  width: 98%;
  height: 275px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 24px;
}

.blue {
  background-color: rgb(44, 73, 133);
}

.black {
  background-color: black;
}

.article__Amount {
  font-size: 120px;
  margin: 0;
  text-align: center;
}

.article__Text {
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.lightGrey__Text {
  font-size: 24px;
  color: lightgrey;
  text-align: center;
  margin: 0;
}

.features__Container {
  width: 478px;
}

.features {
  border-bottom: solid
  rgb(236, 236, 236) 1px;
  border-left: solid
  rgb(236, 236, 236) 1px;
  border-right: solid
  rgb(236, 236, 236) 1px;
  width: 98%;
  line-height: 3em;
  height: 3em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(247, 247, 247);
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(81, 95, 101);
}

.features__Button {
  height: 4em;
  width: 10em;
  border-radius: 30px;
  background-color: white;
  border: solid rgb(236, 236, 236) 1px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: middle;
  margin-bottom: 0;
}

.button__Container {
  padding-top: 1.2em;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 80px;
  border-left: solid
  rgb(236, 236, 236) 1px;
  border-right: solid
  rgb(236, 236, 236) 1px;
  border-bottom: solid rgb(236, 236, 236) 1px;
}

.header {
  height: 100%;
  width: 100%;
}

.menu {
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
  padding-left: 8px;
}

.resp__Container {
  width: 478px;
  height: 250px;
  overflow: hidden;
}

.title {
  position: absolute;
  font-size: 32px;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 12%;
}

.imageTitle__Container {
  height: 200px;
  width: 478px;
  position: relative;
}

.headerImage {
  width: 1100px;
}

.textBlock__Container {
  width: 478px;
  border: solid black 1px;
  padding: 24px;
}

.textBlock__Container: p {
  width: 478px;
  border: solid black 1px;
  padding: 24px;
  font-size: 16px;
}

.text {
  font-size: 18px;
  color: rgb(81, 95, 101);
}

.footer {
  background-color: black;
  color: grey;
  font-size: 24px;
  height: 115px;
  padding: 12px;
  text-align: center;
}

span {
text-decoration: underline;
color: white;
}
