* {
  box-sizing: border-box;
}

.article__Container {
  width: 478px;
}

.article__Header {
  margin-top: 12%;
  background-color: rgb(81, 145, 81);
  width: 98%;
  height: 275px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 24px;
}

.article__Amount {
  font-size: 120px;
  margin: 0;
  text-align: center;
}

.article__Text {
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.lightGrey__Text {
  font-size: 24px;
  color: lightgrey;
  text-align: center;
  margin: 0;
}

.features__Container {
  width: 478px;
}

.features {
  border-bottom: solid lightgrey 1px;
  width: 98%;
  line-height: 3em;
  height: 3em;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(247, 247, 247);
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 100%;
  width: 100%;
}

.menu {
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
  padding-left: 8px;
}

.resp__Container {
  width: 478px;
  height: 250px;
  overflow: hidden;
}

.title {
  position: absolute;
  font-size: 32px;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 12%;
}

.imageTitle__Container {
  height: 200px;
  width: 478px;
  position: relative;
}

.headerImage {
  width: 1100px;
}
