* {
  box-sizing: border-box;
}

.aside__right {
  float: right;
  width: 20%;
}

.aside__dim {
  width: 340px;
  margin-right: 80px;
  margin-left: 20px;
}

.aside__img--dim {
  width: 110px;
  height: 70px;
  margin: auto;
  margin-left: 12px;
}

.aside__bread {
  width: 200px;
  height: 60px;
  padding: 4px;
}

.aside__background {
  background-color: white;
}

.aside__h2--dim {
  font-size: 12px;
  vertical-align: top;
  margin-top: 0;
  width: 160px;
  margin-right: 40px;
  margin-bottom: 0px;
}

.aside__h2--dim2 {
  float: right;
  font-size: 12px;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 0px;
}


.aside__user--details {
  font-size: 8px;
  margin-bottom: 0px;
  float: right;
  margin-right: 80px;
  margin-top: 0px;
}

.aside__user--details1 {
  font-size: 8px;
  margin-bottom: 0px;
  float: right;
  margin-right: 111px;
  margin-top: 0px;
}

.aside__user--details3 {
  font-size: 8px;
  margin-bottom: 0px;
  float: right;
  margin-right: 91px;
  margin-top: 0px;
}

.aside__views {
  font-size: 8px;
  float: right;
  margin-top: 0px;
  margin-right: 92px;
}

.aside__views4 {
  font-size: 8px;
  float: right;
  margin-top: 0px;
  margin-right: 86px;
}

.autoplay__details {
  float: right;
  padding-right: 2px;
  margin-right: 4px;
}

.article1__details {
  height: 100px;
}

.article__text {
  vertical-align: top;
}

.block {
  display: block;
}

.body__background {
  background-color: gainsboro;
}

.cat__vert--align {
 height: 60px;
}

.dislike__image {
  height: 15px;
  vertical-align: top;
}

.div__height {
  height: 200px;
}

.div__article--dim {
  height: 60px;
  width: 140px;
  vertical-align: top;
  float: right;
  margin-right: 75px;
}

.freestyle__top {
  vertical-align: top;
  width: 650px;
  margin-bottom: 2px;
}

.freestyler__details {
  text-decoration: none;
  color: black;
}

.h1__dim {
  margin-top: auto;
}

.header {
  height: 75px;
}

.header__vert {
  vertical-align: middle;
}

.header__group--right {
  float: right;
  margin-right: 20px;
}

.img__dim--header {
  height: 45px;
  border-radius: 100px;
  margin-top: 10px;
}

.img__dim--video {
  width: 765px;
  height: 520px;
  margin-bottom: 5px;
}

.in__block {
  display: inline-block;
}

.input__dim {
  height: 35px;
  width: 375px;
  border-radius: 4px;
  margin-bottom: 55px;
  margin-left: 40px;
}

.like__details {
  float: right;
  vertical-align: middle;
}

.likes__image {
  height: 15px;
  vertical-align: top;
}

.main__left {
  float: left;
  width: 50%;
}

.plus__image {
  height: 15px;
  vertical-align: middle;
}

.search__button--dim {
  height: 35px;
  width: 75px;
  margin-bottom: 55px;
}

.sharing__details {
  background-color: white;
  width: 757px;
  height: 30px;
  margin-top: 10px;
  padding-top: 4px;
}

.sharing__buttons {
  border: none;
  background-color: white;
}

.sharing__float {
  float: right;
}

.sharing__image {
  height: 15px;
  vertical-align: middle;
}

.showmore__details {
  background-color: white;
  text-align: center;
  width: 765px;
  height: 30px;
  margin-top: 0;
  border-top: solid grey 1px;
  padding: 4px;
  color: grey;
  font-size: 10px;
}

.section__dim {
  width: 765px;
  height: 150px;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border-bottom: solid grey 1px;
}

.section__details {
  width: 765px;
  background-color: white;
  padding: 4px;
}

.subscribe__details {
  text-decoration: none;
  width: 100px;
  color: white;
  background-color: red;
  text-align: left;
  padding: 2px;
}

span {
  background-color: white;
  color: black;
  border: solid gray 1px;
  margin-left: 3px;
}

.user__details {
  background-color: white;
  width: 757px;
  margin-left: 0;
  margin-bottom: 1px;
  padding-top: 20px;
  border-bottom: solid black 1px;
}

.upload__details {
  margin-left: 450px;
  margin-top: 0px;
  margin-bottom: 55px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  background-color: gainsboro;
  padding: 8px;
  border: solid grey 1px;
  vertical-align: middle;
}

.upnext__details {
  margin-left: 4px;
}

.video__details--count {
  float: right;
  font-size: 24px;
  margin-left: 20px;
  vertical-align: bottom;
  margin-bottom: 0px;
  border-bottom: solid blue 3px;
}

.wrapper {
  width: 1150px;
  margin: 20px 0px 0 50px;
}

.youtube {
  height: 65px;
  margin-top: 2px;
  margin-right: 10px;
  width: 120px;
}
