.button__details {
  background: lightgreen;
  border: solid 2px #ff5722;
  font-size: 50px;
  height: 150px;
  margin: -2px;
  padding: 4px;
  vertical-align: middle;
  width: 150px;
}

.button__details:active {
  transform: translateY(4px);
}

.button__details--White:active {
  transform:translateY(4px);
}


.button__details--White {
  background: green;
  border: solid 2px #ff5722;
  color: white;
  font-size: 50px;
  height: 150px;
  margin: -2px;
  padding: 4px;
  vertical-align: middle;
  width: 150px;
}

.body__details {
  background-color: grey;
}

.calculator__details {
  height: 850px;
  margin: 20px 30% 20px 30%;
  width: 700px;
}

.div__section {
  display: block;
}

.input__details {
  background: green;
  border: solid 2px #ff5722;
  display: inline-block;
  font-size: 50px;
  color: white;
  height: 132px;
  line-height: 45px;
  margin-left: -2px;
  margin-bottom: -2px;
  overflow: hidden;
  padding: 8px;
  text-align: right;
  vertical-align: bottom;
  word-wrap:break-word;
  width: 431px;
}
