* {
  box-sizing: border-box;
}

.albums {
  display: inline-block;
  height: auto;
  margin-top: 20px;
  width: 225px;
}
.album1 {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 55px;
}

.album2 {
  margin-right: 50px;
}

.album4 {
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 55px;
  margin-bottom: 100px;
}

.album5 {
  margin-right: 50px;
}

.albumImg {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  height: 200px;
  width: 100%;
}

.albumSlots {
  background-color: lightgrey;
  color: blue;
  display: inline-block;
  font-size: 24px;
  font-style: oblique;
  height: 48px;
  line-height: 48px;
  margin-top: -4px;
  margin-bottom: 0;
  text-align: center;
  width: 226px;
}

.albumWrapper {
}

.aside {
  display: inline-block;
  height: 600px;
  margin-left: 14%;
  width: 290px;

}

.aside__section {
  background-color: black;
  display: inline-block;
  height: 795px;
  width: 300px;
}

.buttons {
  background-color: lightgrey;
  border-radius: 6px;
  border-color: gold;
  color: blue;
  font-size: 24px;
  font-style: oblique;
  height: 50px;
  width: 90%;
  margin-top: 17%;
  margin-left: 5%;

}

.button1{
  margin-top: 137px;
}

body {
    background-image: url("https://static.pexels.com/photos/107956/pexels-photo-107956.jpeg")
}
h1 {
  background-image: url("http://api.thumbr.it/whitenoise-900x100.png?background=bfc5c7ff&noise=ffff05&density=100&opacity=80");
}

.header {
  background-color: silver;
  border: solid black 2px;
  border-bottom: solid black 3px;
  color: black;
  font-family: Helvetica;
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.header__image {
  overflow: hidden;
  width: 900px;
  z-index: -1;
}

.image {
  overflow: hidden;
  height: 694px;
  width: 898px;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.wrapper__collection {
  border: solid black 2px;
  float: right;
  width: 900px;
  margin-right: 15%;
  margin-left: 0;
}

.wrapper {
  border: solid black 2px;
  margin: auto;
  width: 900px;
}
