* {
  box-sizing: border-box;
}

.albums {
  border: solid black 1px;
  display: inline-block;
  height: auto;
  margin-top: 20px;
  width: 225px;
}
.album1 {
  margin-right: 50px;
}

.album2 {
  margin-right: 50px;
}

.album4 {
  margin-right: 50px;
}

.album5 {
  margin-right: 50px;
}

.albumImg {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  height: 200px;
  width: 100%;
}

.albumSlots {
  background-color: black;
  color: white;
  display: inline-block;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
  margin-top: -4px;
  margin-bottom: 0;
  text-align: center;
  width: 223px;
}

.albumWrapper {
  margin-left: 50px;
  margin-bottom: 100px;
}

.header {
  background-color: silver;
  border: solid black 2px;
  border-bottom: solid black 3px;
  color: white;
  font-family: Helvetica;
  font-size: 42px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 0;
  width: 100%;
}

.wrapper {
  border: solid black 2px;
  margin: auto;
  width: 900px;
}
