.header {
  background-color: skyblue;
  width: 600px;
  height:50px;
  text-align: center;
  margin-left: 10px;
}

.info {
  font-family: georgia serif;
  width: 595px;
  background-color: white;
  border: solid lightgrey 1px;
  color: black;
  margin-bottom: 0;
  padding: 5px;
}

.ul__details {
  width: 600px;
  padding-left: 9px;
}

.booking {
  border: solid 2px darkblue;
  text-decoration: none;
  background-color: grey;
  padding: 4px;
  color: white;
  border-radius: 8px;
  margin-left: 20px;
}

.booking__section {
  width: 600px;
  height: 75px;
  background-color: white;
  line-height: 75px;
}

.destination__details {
  margin-top: 10px;
  height: 35px;
  overflow: hidden;
  margin-right: 0;
  border: solid grey 1px;
}

.more__info {
  height:200px;
  background-color: blue;
  color: white;
}

.wrapper {
  height: 600px;
  width: 620px;
  border: solid black 1px;
}
