.header {
  background-color: dodgerblue;
  width: 592px;
  height:50px;
  text-align: center;
  margin-left: 10px;
  border: solid grey 4px;
  font-family: fantasy;
}

.info {
  font-family: helvetica;
  font-size: 16px;
  width: 595px;
  background-color: white;
  border: solid lightgrey 1px;
  color: black;
  margin-bottom: 0;
  padding: 5px;
  margin-left: -5px;
}

.ul__details {
  width: 600px;
  padding-left: 9px;
}

.booking {
  border: solid 2px darkgrey;
  text-decoration: none;
  background-color: yellow;
  padding: 4px;
  color: black;
  border-radius: 8px;
  margin-left: 20px;
}

.booking__section {
  width: 600px;
  height: 75px;
  background-color: white;
  line-height: 75px;
  margin-left: -4px;
}

.destination__details {
  margin-top: 10px;
  height: 30px;
  overflow: hidden;
  margin-right: 0;
  border: solid grey 1px;
  padding: 4px;
}

.more__info {
  height:200px;
  background-color: lightgrey;
  color: black;
  transition: 0.5s;
}

.wrapper {
  height: 600px;
  width: 620px;
  border: solid black 1px;
  background-color: cornsilk;
}
